@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(193, 230, 230);

}

main{
     background-color: rgb(21, 2, 75);
    border-radius: 5%;
    box-shadow: 10px 10px 15px #042326;
    width: 600px;
    padding: 10px;
    margin: auto;
}

div{
    text-align: center;
    font-size: 40px;
    background-color: rgb(59, 55, 55);
    color: white;
    
}

div > p {
    display: none;
    text-align: center;
}

div:hover > p{
    display: block;
    text-align: center;
    color: darkorchid;
    background-color: black;
    
}

div:hover {
    color: rgb(245, 8, 8);
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    background-color: rgb(123, 123, 245);
}

p{
    text-align: center;
    color: white;
    font-size: 40px;
}