@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to Right, #0A3A40, #1D7373);
}

main{
    background-color: white;
    border-radius: 5%;
    box-shadow: 10px 10px 15px #042326;
    width: 600px;
    padding: 10px;
    margin: auto;
}
    
h1{
    color: #042326 ;
    text-align: center;
    text-shadow: 1px 1px 2px #042326;
}
    
p{
    text-align: justify;
}